<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} &mdash; Ian Thomas &mdash; Web Designer</title>
    <script type="text/javascript" src="//use.typekit.net/vtd0fer.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>   
    {{ content }}
</body>
</html>
